.face-container {
    width: 10%;
    height: 10%;
    display: inline-block;
    @media screen and (max-width: 900px) {
        width: 20%;
        height: 20%;
        display: block;
        margin-bottom: 4%;
        margin-top: 4%;
    }
    
    @media screen and (max-width: 320px) {
        width: 25%;
        height: 25%;
        display: block;
        margin-bottom: 4%;
        margin-top: 4%;
    }

    .face {
        background: url('./face2.jpg') center center/cover no-repeat;
        height: 0;
        padding-bottom: 100%;
        position: relative;
        width: 100%;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 12px 0 black;
        animation: faceskew 0.1s step-end 2;
        animation-delay: 1.5s;
    }
    .face-terminator {
        background: url('./face_terminator.jpg') center center/cover no-repeat;
        height: 0;
        padding-bottom: 100%;
        position: relative;
        width: 100%;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: 0 0 12px 0 black;
        animation: faceskew 0.1s step-end 2;        
        animation-delay: 1.5s;
    }

    .face:hover {
        box-shadow: 0 0 5px 0 black;
    }

    .face:active {
        box-shadow: 0 0 3px 0 black;
    }

    @keyframes faceskew {
        0% {
            transform: skewX(0deg);
            box-shadow: 0 0 12px 0 black;
        }
        50% {
            transform: skewX(-4deg);
            box-shadow: 0 0 5px 0 black;
        }
        100% {
            transform: skewX(0deg);
            box-shadow: 0 0 12px 0 black;
        }
    }

    .red-eye {
        border-radius: 50%;
        width: 5px;
        height: 5px;
        opacity: .25;

        background-color: red;
        position: absolute;
        -webkit-animation: up-right 1s infinite;
        -moz-animation: up-right 1s infinite;
        -o-animation: up-right 1s infinite;
        animation: up-right 1s infinite;
        @media screen and (max-width: 600px) {
            width: 3px;
            height: 3px;
        }
        @media screen and (max-width: 300px) {
            width: 2px;
            height: 2px;
        }
    }

    @keyframes up-right {
        0% {
            transform: scale(1);
            opacity: .25
        }
        50% {
            transform: scale (1, 5);
            opacity: 1;
        }
        100% {
            transform: scale(1);
            opacity: .25;
        }
    }

}