.project {

    .customer-lead, .customer, .date-start-lead, .date-start, .date-end-lead, .date-end, .about-lead, .about {
        display: inline-block;
    }
    margin-top: 2%;
    width: 50%;


    @media screen and (max-width: 900px) {
        width: 100%;
        margin-top: 6%;
    }

    .calendar-icon {
        background: url('./calendar.svg') center center/cover no-repeat;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 1%;
        vertical-align: middle;
    }
    .date-seperator {
        margin-right: 4px;
        margin-left: 4px;
    }

    .customer {
        font-weight: 600;
        border-bottom: solid 2px rgb(238, 237, 237);
        margin-bottom: 6px;
    }

    .date-start-container {
        margin-bottom: 6px;
    }
}
