.Technologies {    
    margin-top: 5%;
    margin-left: 13%;
    margin-top: 3%;
    width: 50%;
    @media screen and (max-width: 900px) {
        margin-left: 0%;
        width: 100%;
    }

    .techitems-container {
        width: 100%;
        margin-top: 3%;
    }

    .tech-items-column {
        display: inline-block;
        vertical-align: top;
    }

    .tech-items-column:nth-child(1) {
        margin-right: 13%;
    }
}