.app {    
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: "Lucida Console", Monaco, monospace;

  ::selection {
    background: #00ff00;
  }
  ::selection {
    background: #00ff00;
  }

  @media screen and (max-width: 900px) {
    // padding-bottom: 20%;
  }
}