.links {
	font-family: Camphor,Open Sans,Segoe UI,sans-serif;
	font-size: 1.2em;
	text-align: center;
	margin-top: 150px;
	padding-bottom: 200px;
	display: flex;
	justify-content: center;

	a {
		margin-right: 2%;
		text-decoration: underline;
		font-weight: bold;
		color: #68779d;
		font-size: 1.5em;
	}
  
  /* visited link */
  a:visited {
	color: #68779d;
  }
  
  /* mouse over link */
  a:hover {
	color: #747fe0;
	text-decoration-style: dotted;
	text-decoration-line: overline;
  }
  
  /* selected link */
  a:active {
	color: yellow;
  }
}
  