.music {
    .music-container {
        position: relative;
        left: -5%;
        
        @media screen and (max-width: 900px) {
            margin-top: 21%;
            left: 0;
        }

        .track-visibility-container {
            animation: toneskew 2s step-end 50;
        }
        .tone {
            background: url('./tone.svg') center center/cover no-repeat;
            height: 20px;
            width: 20px;
            display: block;
            position: absolute;
            bottom: 0;            
            filter: blur(5px);
            animation: toneskew 0.5s step-end infinite;
            // animation-delay: 2.28s;
            @media screen and (max-width: 900px) {
                position: relative;
                margin-bottom: 2%;
                filter: blur(0px);
            }
        }

        .tone:hover {
            filter: blur(1px);
            cursor: pointer;
         }

        .spotify {
            margin-top: 5%;
            margin-left: 18%;
            @media screen and (max-width: 900px) {
                margin-left: 0;
                margin-bottom: 4%;
            }
        }

        @keyframes toneskew {
            0% {
                transform: skewX(0deg);
            }
            25% {
                transform: skewX(-8deg);
            }
            50% {
                transform: skewX(0deg);
            }
            75% {
                transform: skewX(8deg);
            }
            100% {
                transform: skewX(0deg);
            }
        }
    }
}