.Header {    
    width: 100%;
    height: 100%;
    font-family: Courier New,Arial,sans-serif;
   
    .stats {
      font-family: c64;   
    }
    
    .header-text {
        height: 100%;
        margin-left: 3%;
        display: inline-block;
        border-radius: 5px;
        background: black;
        width: 50%;
        vertical-align: top;
        position: relative;
        padding: 2%;

        @media screen and (max-width: 900px) {
          padding: 3%;
          width: 100%;
          margin-left: 0%;
        }
        @media screen and (max-width: 600px) {
          width: 100%;
        }

        .hello {
            font-family: c64;           
            font-weight: 500;
        }
        .intro, .stats {
            height: 100%;
            font-family: c64;
            margin-top: 2%;
            a {
              color: #00ff00;
              text-decoration-style: underline;              
            }
            a:hover {
              color: #00ff00;
              text-decoration-style: dashed;
              text-shadow: 2px 2px blue;
            }
        }
        .intro {
          line-height: 20pt;
          font-size: 20px;
          @media screen and (max-width: 900px) {
            font-size: 15px;
          }
        }

        .stats {
            line-height: 15pt;
            font-size: 16px;
            @media screen and (max-width: 390px) {
              font-size: 11px;
            }
        }

        color: #00ff00;
        box-shadow: 5px 5px 5px #666;
    }

    .hello::selection {
      background: blue;
    }
    .hello::selection {
      background: blue;
    } 

    .intro::selection {
      background: blue;
    }

    .stats > p::selection {
      background: blue;
    }

    .stats > p a::selection {
      background: blue;
    }

    .stats > p a sub::selection {
      background: blue;
    }

    .cursor {
        vertical-align: baseline;
        content: "";
        top: 0;
        right: -15px;
        /* Remove display: inline-block if not required to be on the same line as text etc */
        display: inline-block;
        background-color: #00ff00;
        vertical-align: top;
        width: 12px;
        /* Set height to the line height of .text */
        height: 22px;
        /* 
        Animation paramaters:
        blink = animation-name, 
        1s = animation-duration, 
        step-end = animation-timing-function,
        infinite = animation-iteration-count
        */
        -webkit-animation: blink 1s step-end infinite;
        animation: blink 1s step-end infinite;
      }
      
      @-webkit-keyframes blink {
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      }
      
      @keyframes blink {
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      } 

      .stats > p {
        width: 100%;
        white-space:nowrap;
        overflow: hidden;
        visibility: hidden;
        margin: 0;
      }

      .stats > div  {
        width: 100%;
        white-space:nowrap;
        overflow: hidden;
        visibility: hidden;
        margin: 0;
      } 

      @keyframes type{
        from
        { 
          width: 0;
          visibility: visible;
        }
        to {
          visibility: visible;
        }
      }

      @keyframes blink-caret {
        from, to { border-color: transparent }
        50% { border-color: #00ff00; }
      }

      $type_time: 2s;
      $type_steps: 50;
      $type_delay: $type_time - 0.6;

      .line-0 {
        animation: type $type_time steps($type_steps, end) 1;
        animation-fill-mode: forwards;
        animation-delay: 0.1;
      }

      .line-1 {
        animation: type $type_time steps($type_steps, end) 1;	
        animation-delay: $type_delay;
        animation-fill-mode: forwards;
      }

      .line-2 {
        animation: type $type_time steps($type_steps, end) 1;	
        animation-delay: $type_delay * 2;
        animation-fill-mode: forwards;
      }

      .line-3 {
        animation: type $type_time steps($type_steps, end) 1;	
        animation-delay: $type_delay * 3;
        animation-fill-mode: forwards;
      }

      .line-4 {
        animation: type $type_time steps($type_steps, end) 1;	
        animation-delay: $type_delay * 4;
        animation-fill-mode: forwards;
      }

      .line-5 {
        animation: type $type_time steps($type_steps, end) 1;	
        animation-delay: $type_delay * 5;
        animation-fill-mode: forwards;
      }

      .line-6 {
        animation: type $type_time steps($type_steps, end) 1;	
        animation-delay: $type_delay * 6;
        animation-fill-mode: forwards;
      }

      .line-7 {
        animation: type $type_time steps($type_steps, end) 1;	
        animation-delay: $type_delay * 7;
        animation-fill-mode: forwards;
      }

      .line-8 {
        animation: type $type_time steps($type_steps, end) 1;	
        animation-delay: $type_delay * 8;
        animation-fill-mode: forwards;
      }

      .line-9 {
        animation: type $type_time steps($type_steps, end) 1;	
        animation-delay: $type_delay * 9;
        animation-fill-mode: forwards;
      }

      .line-10 {
        animation: type $type_time steps($type_steps, end) 1;	
        animation-delay: $type_delay * 10;
        animation-fill-mode: forwards;
      }

}