.Header {    
    width: 100%;
    font-family: Courier New,Arial,sans-serif;
   
    .stats {
      font-family: c64;   
    }
    
    .header-text {
        margin-left: 3%;
        display: inline-block;
        border-radius: 5px;
        background: black;
        width: 50%;
        @media screen and (max-width: 900px) {
          width: 100%;
          margin-left: 0%;
        }
        vertical-align: top;
        position: relative;
        padding: 2%;
        @media screen and (max-width: 900px) {
          padding: 3%;
        }
        .hello {
            font-family: c64;           
            font-weight: 500;
        }
        .intro {
            font-size: 20px;
            font-family: c64;
            margin-top: 2%;
            line-height: 21pt;

            @media screen and (max-width: 900px) {
              font-size: 17px;
              line-height: 18pt;
            }

            a {
              color: #00ff00;
              text-decoration-style: underline;              
            }
            a:hover {
              color: #00ff00;
              text-decoration-style: dashed;
              text-shadow: 2px 2px blue;
            }
        }
        color: #00ff00;
        box-shadow: 5px 5px 5px #666;
    }

    .hello::selection {
      background: blue;
    }
    .hello::selection {
      background: blue;
    } 

    .intro > span::selection {
      background: blue;
    }
    .intro > span::selection {
      background: blue;
    } 


    .cursor {
        vertical-align: baseline;
        content: "";
        top: 0;
        right: -15px;
        /* Remove display: inline-block if not required to be on the same line as text etc */
        display: inline-block;
        background-color: #00ff00;
        vertical-align: top;
        width: 12px;
        /* Set height to the line height of .text */
        height: 22px;
        /* 
        Animation paramaters:
        blink = animation-name, 
        1s = animation-duration, 
        step-end = animation-timing-function,
        infinite = animation-iteration-count
        */
        -webkit-animation: blink 1s step-end infinite;
        animation: blink 1s step-end infinite;
      }
      
      @-webkit-keyframes blink {
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      }
      
      @keyframes blink {
        0% { opacity: 1.0; }
        50% { opacity: 0.0; }
        100% { opacity: 1.0; }
      } 
}