.contactinfo {    
    margin-top: 5%;
    margin-left: 13%;
    
    @media screen and (max-width: 900px) {
        margin-left: 0%;
        width: 100%;
    }

    .resume-container {
        margin-top: 4%;
        margin-bottom: 4%;
    }
    .resume-link {
        border: black solid 1px;
        cursor: pointer;
        padding: 12px;
        box-shadow: 2px 2px 2px #666;
    }

    .resume-link:hover {
        background-color: rgb(240, 239, 239);
        box-shadow: 2px 2px 2px rgb(144, 144, 144);
    }

    .resume-link:active {
        background-color: rgb(240, 239, 239);
        box-shadow: 0px 0px 0px;
    }

    .pdf-icon {
        background: url('./pdf.png') center center/cover no-repeat;
        display: inline-block;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        margin-right: 11px;
    }
}