.admin {
    height: 100vh;
    width: 100%;
    display: flex;
    .main {
        background: #e6ffe0;
        height: 50%;
        width: 90%;
        margin-top: 10%;
        // display: inline-block;
        flex: 1;
    }
}

.admin::after{
    background-image: url('nightsky.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: lightblue;
    margin: 0;
    opacity: 0.5;

    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}